<%# Renders flash messages %>
<% flash.each do |type, message| %>
  <div class="mb-4">
    <div class="rounded-md p-4 <%= type == 'notice' ? 'bg-green-50' : 'bg-red-50' %>">
      <div class="flex">
        <div class="flex-shrink-0">
          <% if type == 'notice' %>
            <%= render "shared/icons/check_circle", class: "h-5 w-5 text-green-400" %>
          <% else %>
            <%= render "shared/icons/x_circle", class: "h-5 w-5 text-red-400" %>
          <% end %>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium <%= type == 'notice' ? 'text-green-800' : 'text-red-800' %>">
            <%= message %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
