<% content_for :header do %>
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
    <div class="flex items-center space-x-4">
      <%= link_to grading_task_path(@grading_task), class: "text-gray-600 hover:text-gray-900 transition-colors duration-150" do %>
        <%= render "shared/icons/back", class: "h-5 w-5" %>
      <% end %>
      <div>
        <h1 class="text-3xl sm:text-4xl font-bold tracking-tight text-blue-950">Student Submission</h1>
        <p class="text-base text-gray-600">Detailed grading information</p>
      </div>
    </div>

    <div id="header_status">
      <%= render "student_submissions/header_status", student_submission: @student_submission %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div>
    <%= turbo_stream_from "student_submission_#{@student_submission.id}" %>
    <% if @student_submission.last_post_feedback_action %>
      <%= turbo_stream_from "document_action_#{@student_submission.last_post_feedback_action&.id}" %>
    <% end %>
  </div>

  <div id="<%= dom_id(@student_submission) %>_detail">
    <%= render "student_submissions/detail", student_submission: @student_submission %>
  </div>
<% end %>

<%= render "shared/page_wrapper" %> 