<div id="progress_section_<%= dom_id(grading_task) %>">
  <div id="<%= dom_id(grading_task) %>_progress_metrics">
    <%= render "grading_tasks/progress_metrics", grading_task: grading_task, student_submissions: student_submissions %>
  </div>
  
  <div id="<%= dom_id(grading_task) %>_submission_counts">
    <%= render "grading_tasks/submission_counts", student_submissions: student_submissions %>
  </div>
</div>
