<% content_for :header do %>
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <%= link_to grading_tasks_path, class: "text-gray-500 hover:text-gray-700 transition-colors duration-150" do %>
        <%= render "shared/icons/back" %>
      <% end %>
      <h1 class="text-3xl sm:text-4xl font-bold tracking-tight text-blue-950"><%= @grading_task.folder_name %></h1>
    </div>

    <%= button_to grading_task_path(@grading_task),
        method: :delete,
        class: "px-4 py-2 text-sm font-medium text-red-600 hover:text-red-900 transition-colors duration-150",
        form: { data: { turbo: false } },
        data: { confirm: "Are you sure you want to delete this task?" } do %>
      Delete Task
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= turbo_stream_from "grading_task_#{@grading_task.id}" %>
  
  <div id="<%= dom_id(@grading_task) %>">
    <%= render "grading_task", grading_task: @grading_task, student_submissions: @student_submissions %>
  </div>
<% end %>

<%= render "shared/page_wrapper" %>
